@import url('https://fonts.googleapis.com/css2?family=Bellefair&family=K2D:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    box-sizing:border-box ;
}
/* <!-- this is the header sec --> */
.head{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 150px;
    gap: 420px;
}
.move{
    gap: 60px;
    display: flex;
}
nav{
    display: flex;
    padding-top: 3px;
    gap: 35px;
}
nav a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-weight: 400;
    font-size: 20px;
    position:relative;
}
nav a::after {
    content: "";
    position: absolute;
    height: 2px;
    left: 0;
    bottom: 20px;
    width: 0;
    background: rgb(0, 0, 0);
    transition: width .2s;
}
nav a:hover::after{
    width: 100%;
}
.find{
    display: flex;
    gap: 78px;
}
.menu{
    display: none;
}
/* <!-- this is the main --> */
h1{
    font-weight: 500;
    font-size: 40px;
    display: flex;
    justify-content: center;
    padding-top: 20px;
    padding-left: 90px;
    padding-bottom: 50px;
}
.myform{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 50px;
    margin-left: 100px;
}
form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 50px;
}
form input{
    width: 818px;
    height: 62px;
    font-size: 20px;
}
textarea{
    width: 818px;
    height: 280px;
    font-size: 20px;
    padding-top: 20px;
}
.butt{
    display: flex;
    justify-content: center;
    padding: 40px;
    padding-left: 730px;
}
.butt button{
    width: 233px;
    height: 64px;
    font-size: 24px;
    color: white;
    font-weight: 500;
    background-color: #000000;
}
.foottext{
    padding-left: 100px;
}
/* this is the footer */


footer{
    display: flex;
    margin-left: 100px;
    margin-top: 100px;
    gap: 200px;
    padding-bottom: 30px;
}
footer h3{
    font-size: 24px;
    font-weight: 400;
}

.foot h4{
    font-weight: 400;
    font-size: 24px;
}

.footlinks{
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 70px;
    padding-bottom:50px ;
}

.footlinks a{
    font-weight: 300;
    font-size: 15px;
    text-decoration: none;
    color: #000000;
    line-height: 30px;
}
.lest{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 600px;
    padding-top: 30px;
    padding-bottom: 30px;
    height: 70px;
}
.last{
    display: flex;
    align-items: center;
    gap: 25px;
}
